{% extends 'base.html' %}

{% block content %}
<style>
  .post_buttons {
      width: 85%;
      height: 15%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
  }
  .like_dislike{
    display: flex;
    justify-content: space-between;
    padding-right: 45%;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ post.content | safe }}</p>
      </div>
      <br/><br/>

      <hr>
    <br/>
    <div class = "post_buttons">
      <div class = "like_dislike">
        <form action="{% url 'post:like_post' post.pk %}" method="POST">
        {% csrf_token %}


          {% if post.liked %}
            <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">Unlike</button>
            {% comment %} <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">
              <i class="fa-solid fa-thumbs-up"></i>
            </button> {% endcomment %}

          {% else %}
            <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button>
            {% comment %} <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">
              <i class="fa-regular fa-thumbs-up"></i>
            </button> {% endcomment %}
          {% endif %}
          - {{ post.total_likes }} Likes
        </form>

        <br/>

        <form action="{% url 'post:dislike_post' post.pk %}" method="POST">
          {% csrf_token %}

          {% if post.disliked %}
            <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">Undislike</button>

          {% else %}
            <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Dislike</button>

          {% endif %}
          - {{ post.total_dislikes }} Dislikes
        </form>
      </div>
      <form action="{% url 'post:delete_post' post.pk %}" method="POST">
        {% csrf_token %}
        {% if request.user == post.author %}
          <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Delete</button>
        {% endif %}
      </form>
      
      <form action="{% url 'post:post_update' post.pk %}" method="GET">
        {% csrf_token %}
        {% if request.user == post.author %}
          <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Edit</button>
        {% endif %}
      </form>
    </div>
    </div>


    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        <!-- comments -->
        <h2>{{ comments.count }} comments</h2>

        {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ comment.name }}
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
            </span>
          </p>
          {{ comment.content | linebreaks }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          Commentted
        </div>
        {% else %}
        <h3>Leave a comment</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ comment_form.as_p }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
        
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
