{% extends 'base.html' %}
{% comment %} <section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-12 col-xl-4">
  
          <div class="card" style="border-radius: 15px;">
            <div class="card-body text-center">
              <div class="mt-3 mb-4">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                  class="rounded-circle img-fluid" style="width: 100px;" />
              </div>
              <h4 class="mb-2">Julie L. Arsenault</h4>
              <p class="text-muted mb-4">@Programmer <span class="mx-2">|</span> <a
                  href="#!">mdbootstrap.com</a></p>
              <div class="mb-4 pb-2">
                <button type="button" class="btn btn-outline-primary btn-floating">
                  <i class="fab fa-facebook-f fa-lg"></i>
                </button>
                <button type="button" class="btn btn-outline-primary btn-floating">
                  <i class="fab fa-twitter fa-lg"></i>
                </button>
                <button type="button" class="btn btn-outline-primary btn-floating">
                  <i class="fab fa-skype fa-lg"></i>
                </button>
              </div>
              <button type="button" class="btn btn-primary btn-rounded btn-lg">
                Message now
              </button>
              <div class="d-flex justify-content-between text-center mt-5 mb-2">
                <div>
                  <p class="mb-2 h5">8471</p>
                  <p class="text-muted mb-0">Wallets Balance</p>
                </div>
                <div class="px-3">
                  <p class="mb-2 h5">8512</p>
                  <p class="text-muted mb-0">Income amounts</p>
                </div>
                <div>
                  <p class="mb-2 h5">4751</p>
                  <p class="text-muted mb-0">Total Transactions</p>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
</section> {% endcomment %}
{% block content %}
    <h2 class = "display-4 text-center"> {{ user.username }}'s Post History</h2>
    {% if authenticated_user != user%}
        {% if not isFriend and not alreadySent%}
        <form method="POST" action="/send_friend_request">
            {% csrf_token %}
            <input type = "hidden" name="receiver" value="{{user.username}}">

            <button type="submit">add friend</button>

    
        </form>
        {% elif alreadySent and not isFriend%}
            <h1>your friend request is pending</h1>
        
        {% endif %}
    {% endif %}

    {% if authenticated_user == user %}
    <div class = "container">
        <div class = "card">
            <h1>friend reqs</h1>
            {% for req in friend_requests %}
            <form method="POST" action="/accept_friend_request">
                {% csrf_token %}
                <div class="card-header">
                    <h4>{{ req.sender }}</p>
                    <input type="hidden" name="sender" value="{{req.sender}}">
                    <button>accept?</button>
                </div>
                
                <br>
            </form>
            {% endfor %}
        </div>
    </div>

    <div class = "container">
        <div class = "card">
            <h1>friends</h1>
            {% for friend in friends %}
          
                    <h4>{{ friend.secondary }}</p>
                   
                
                <br>
        
            {% endfor %}
        </div>
    </div>
    {% endif %}
    
    <div class = "container">
        

        {% if posts%}
            <p>Number of Posts: {{ posts|length }}</p>
            
        {%endif%}
      
            <p>Number of Friends: {{friends|length}}</p>
 

        <div class = "card">
            
            {% for post in posts %}
            <p>Likes: {{ post.total_likes }} Dislikes: {{ post.total_dislikes }}</p>
            <!-- <p>DisLikes: {{ post.total_dislikes }}</p> -->
                <div class="card-header">
                    <h4>{{ post.title }}</p>
                </div>
                <div class="card-body">
                    <blockquote class = "blockquote mb-0">
                        <p>{{ post.content }}</p>
                        
                        <footer class="blockquote-footer">{{post.created_on}}<cite title="Source Title">{{post.author.username}}</cite></footer>
                    </blockquote>
                </div>
                <br>
            {% endfor %}
        </div>        
    </div>
    
    <!-- Display badges -->
    <div class = "container">
        {% if badges %}
            <p>Number of Badges: {{ badges|length }}</p>
        {%endif%}
        
        <div class = "card">
            {% for badge in badges %}
            <p> {{badge}} </p>
            {% endfor %}
        </div>
    </div>
    
    
{% endblock %}