{% extends 'main/header.html' %}
  {% block content %}   
  <style>
    .jumbotron {
      background: linear-gradient(to right, rgba(38, 35, 35, 0.35), rgba(65, 17, 17, 0.134)), url("https://images.pexels.com/photos/450597/pexels-photo-450597.jpeg?cs=srgb&dl=pexels-lex-photography-450597.jpg&fm=jpg");
      background-position: center;
      background-size: cover;
    }
  </style>
    <!--CTA-->
    <header class="jumbotron jumbotron-fluid">
      <div class="container-fluid text-center"> 
         <h1 class="display-3 text-white">Welcome to BeHonest</h1>
         <p class="lead pb-4 text-white">NY's newest and greatest Social Media Application</p>
      </div>
    </header>

    <!-- This below is a bandaid fix -->
    {% load crispy_forms_tags %}
    {% if user.is_authenticated %}
      <h2>You're Logged in, Landing Page Still under works click back on BeHonest icon to go got posts</h2>
    {% else %}
      <!--Login--> 
      <div class="container py-5">
        <h1>Login</h1>
        <form method="POST">
          {% csrf_token %}
          {{ login_form|crispy }}
          <button class="btn btn-primary" type="submit">Login</button>
        </form>
        <a href="{% url 'main:password_reset' %}">Forgot password?</a>
        <p class="text-left">Don't have an account? <a href="/register">Create an account</a>.</p>
      </div>
    {% endif %}
    
    
  {% endblock %}
  