<!-- Forget Password Page Template -->
{% extends "main/header.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section">
  	 	<h2>Reset Password</h2><hr>
		<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="POST">
            {% csrf_token %}
            
            <div class="form-group col-md-6 mb-0">
                {{ form|crispy }}
            </div>
            <button class="btn btn-outline-info" type="submit">Send email</button>
        </form>
  	</div>
{% endblock %}